@import "../fragment/yo-search";
.m-index {
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  // 头部
  header {
    height:.44rem;

  }
 .mint-searchbar-inner{
   border-radius:.20rem;
 }

article {
  @include flex(1);
  @include flexbox();
  width:100%;
  border-top:0.01rem  solid green;
  background: #f4f5f7;
  }
  #wrapper-nav {
    width: .8rem;
    height: 100%;
    color: #666;
    font-size: .15rem;
    overflow: hidden;
    background: #fff;
    overflow-y: auto;
   .wr_ul {
      width: 100%;
      height: 100%;
      li{
        width: 100%;
        height: .47rem;
        p{
           width: 100%;
          padding: .14rem 0;
           text-align: center;
           border-bottom: 1px solid #e6e6e6;
       }
      }

  }
}




// 列表展示
section {
   background: #fff;
   @include flex(1);
    margin-left: .1rem;
    overflow: hidden;
   overflow-y: auto;
   p{
     line-height:.31rem;
     font-size:14px;
     font-weight:bold;
     background: #f4f5f7;
   }
   div{
      width:.79rem;
      line-height:.31rem;
      font-size:.12rem;
      font-weight:bold;
      text-align: center;
    }
}

 .mine{
   height:2.74rem;

  li{
   width:.79rem;
   height:1.1rem;
  
    margin:0 .07rem;
    float:left;
 }
    img{
    width:.79rem;
    height:.79rem;
    }
  
   
  }



// 第二页
.elseList{
  @include flexbox();
  @include flex-wrap(wrap);
  margin-top:.31rem;
     li{
    @include flexbox();
     @include flex-direction(column);
     width:.79rem;
     height:1.1rem;
      margin:0 .07rem;

      img{
        width:.79rem;
        height:.79rem;
      }
   }

      }
 
  }
